/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

::selection{
  color: #fff;
  background: #4285f4;
}
.wrapper-1{
 
 
  margin: 85px auto 0;
}
.select-btn-1, li{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.select-btn-1{
  height: 65px;
  padding: 0 20px;
  font-size: 22px;
  background: #fff;
  border-radius: 7px;
 
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.select-btn-1 i{
  font-size: 31px;
  transition: transform 0.3s linear;
}
.wrapper-1.active .select-btn-1 i{
  transform: rotate(-180deg);
}
.content-1{
  display: none;
  padding: 20px;
  margin-top: 15px;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.wrapper-1.active .content-1{
  display: block;
}
.content-1 .search-1{
  position: relative;
}
.search-1 i{
 
  color: #999;
  font-size: 20px;
  pointer-events: none;
  transform: translateY(-50%);
  position: absolute;
}
.search-1 input{
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 17px;
  border-radius: 5px;
  padding: 0 20px 0 43px;
  border: 1px solid #B3B3B3;
}
.search-1 input:focus{
  padding-left: 42px;
  border: 2px solid #4285f4;
}
.search-1 input::placeholder{
  color: #bfbfbf;
}
.content-1 .options-1{
  margin-top: 10px;
  max-height: 250px;
  overflow-y: auto;
  padding-right: 7px;
}
.options-1::-webkit-scrollbar{
  width: 7px;
}
.options-1::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 25px;
}
.options-1::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 25px;
}
.options-1::-webkit-scrollbar-thumb:hover{
  background: #b3b3b3;
}
.options-1 li{
  height: 50px;
  padding: 0 13px;
  font-size: 21px;
}
.options-1 li:hover, li.selected{
  border-radius: 5px;
  background: #f2f2f2;
}